.owl-carousel .owl-nav{
    overflow: hidden;
    height: 0px;
  }

  .owl-theme .owl-dots .owl-dot.active span, 
  .owl-theme .owl-dots .owl-dot:hover span {
      background: #000000;
  }
  .owl-theme .owl-nav{
    display: none;
  }
  .owl-carousel {
    position: relative;
  }
  .owl-dots{
    position: absolute;
    bottom:10px;
    left:25%;
    right:25%;
  }