.owl-carousel .owl-nav{
    overflow: hidden;
    height: 0px;
  }

  .owl-theme .owl-dots .owl-dot.active span, 
  .owl-theme .owl-dots .owl-dot:hover span {
      background: #000000;
  }
  .owl-theme .owl-nav{
    display: none;
  }
  .owl-carousel {
    position: relative;
  }
  .owl-theme .owl-dots{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 47%;
    transform: translate(0,-50%);
  }
